fastapi
uvicorn
sqlalchemy
psycopg2-binary==2.9.9
alembic
pydantic
python-dotenv
python-multipart
groq
pypdf
python-docx
passlib[bcrypt]
bcrypt==4.1.3
python-jose
pydantic[email]
email-validator
redis